ion-header {
  padding: 1rem 1rem 0 1rem;
  ion-title {
    padding: 0;
  }
}

h3 {
  font-size: 1.1rem;
}

ion-card-content {
  margin-bottom: -1rem;
}

ion-card-subtitle {
  font-size: 1.1rem;
}

ion-card-title {
  font-size: 1.4rem;
}

ion-label {
  font-size: 1.1rem;
}

p {
  font-size: 1.1rem;
}